@import "tailwindcss";


:root {
  --color-background: #e0e0e0;
  --color-primary-text: #121212;
  --color-scondary-text: #444444;
  --color-direvs: #b0b0b0;
  --color-accent: #888888;
}


@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-primary-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #121212;
    --color-primary-text: #e0e0e0;
    --color-scondary-text: #b0b0b0;
    --color-direvs: #444444;
    --color-accent: #888888;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-primary-text);
  font-family: Arial, Helvetica, sans-serif;
}
